<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Add Teacher</title>
</head>
<body>
<form th:action="@{/teacher/add}" th:object="${teacher}" method="post">
    Фамилия:
    <input type="text" th:field="*{lastName}"/>
    <br/>
    Имя:
    <input type="text" th:field="*{firstName}">
    <br/>
    Отчество:
    <input type="text" th:field="*{middleName}">
    <br/>
    Факультет:
    <input type="text" th:field="*{department}">
    <br/>
    Контакты:
    <input type="text" th:field="*{contacts}">
    <br/>
    Дополнительная информация:
    <input type="text" th:field="*{info}">
    <br/>
    <input type="submit" value="Add"/>
</form>
</body>
</html>