<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Add Assignment</title>
</head>
<body>
    <form th:action="@{/assignments/add}" th:object="${assignment}" method="post">
        <a>Название предмета:</a>
        <input type="text" th:field="*{title}"/>
        <br/>
        <a>Задание:</a>
        <input type="text" th:field="*{task}"/>
        <br/>
        <a>Преподаватель:</a>
        <form th:action="">

        </form>
        <br/>
        Задание:
        <input type="text" th:field="*{task}"/>
        <br/>
        <input type="submit" value="Add"/>
    </form>
</body>
</html>