<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Add Assignment</title>
</head>
<body>
    <p><a href="/assignments">Назад</a></p>
    <form th:action="@{/assignments/add}" th:object="${assignment}" method="post">
        <a>Название предмета:</a>
        <input type="text" th:field="*{title}"/>
        <br/>
        <a>Преподаватель:</a>
        <select th:field="*{teacher}">
            <option value="">...</option>
            <option th:each="t : ${teachers}"
            th:value="${t.id}"
            th:utext="${t.nameDescription()}"/>
        </select>
        <br/>
        <a>Вид зачета:</a>
        <li th:each="tow : ${typeofwork}">
            <input type="checkbox" th:field="*{typeOfWorkSet}" th:value="${tow}">
            <label th:text="${tow.value}"></label>
        </li>
        <a>Расписание:</a>
        <input type="text" th:field="*{schedule}"/>
        <br/>
        <a>Задание:</a>
        <input type="text" th:field="*{task}"/>
        <br/>
        <input type="submit" value="Add"/>
    </form>
</body>
</html>