<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Teachers</title>
</head>
<body>
    <div>
        <table border="1">
            <tr>
                <th>Фамилия</th>
                <th>Имя</th>
                <th>Отчество</th>
                <th>Факультет</th>
                <th>Контакты</th>
                <th>Дополнительная Информация</th>
            </tr>
            <tr th:each="teacher:${teachers}">
                <th th:utext="${teacher.lastName}">...</th>
                <th th:utext="${teacher.firstName}">...</th>
                <th th:utext="${teacher.middleName}">...</th>
                <th th:utext="${teacher.department}">...</th>
                <th th:utext="${teacher.contacts}">...</th>
                <th th:utext="${teacher.info}">...</th>
                <th>
                    <a th:href="@{/teacher/delete/{id}(id=${teacher.id})}">Удалить</a><br>
                    <a th:href="@{/teacher/update/{id}(id=${teacher.id})}">Обновить</a>
                </th>
            </tr>
        </table>
    </div>
    <div>
        <p><a href="/teacher/add">Добавить преподователя</a></p>
    </div>
</body>
</html>