<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Update Teacher</title>
</head>
<body>
<form th:action="@{/teacher/update}" th:object="${teacher}" method="post">
    Фамилия:
    <input type="text" th:field="*{lastName}" th:value="*{lastName}"/>
    <br/>
    Имя:
    <input type="text" th:field="*{firstName}" th:value="*{firstName}"/>
    <br/>
    Отчество:
    <input type="text" th:field="*{middleName}" th:value="*{middleName}"/>
    <br/>
    Факультет:
    <input type="text" th:field="*{department}" th:value="*{department}"/>
    <br/>
    Контакты:
    <input type="text" th:field="*{contacts}" th:value="*{contacts}"/>
    <br/>
    Дополнительная информация:
    <input type="text" th:field="*{info}" th:value="*{info}"/>
    <br/>
    <input type="submit" value="Обновить"/>
</form>
</body>
</html>